node_modules/
build/electron-*/
build/zalo-*/
build/*.asar
build/app-extracted/
!build/app-extracted/native/nativelibs/
!build/app-extracted/native/nativelibs/**/binding/
!build/app-extracted/native/nativelibs/**/prebuilt/
!build/app-extracted/native/nativelibs/**/src/
!build/app-extracted/native/nativelibs/**/*.js
!build/app-extracted/native/nativelibs/**/*.json
!build/app-extracted/native/nativelibs/**/*.gyp
!build/app-extracted/native/nativelibs/**/*.node
!build/app-extracted/native/nativelibs/**/*.cpp
*.log
.DS_Store
.env
